header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: $box-shadow;
  padding: 1.5rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo {
    @include titleText(2.5rem);

    span {
      color: $yellow;
    }
  }

  .navbar {
    a {
      @include titleText(2rem);
      margin: 0 1rem;

      &:hover {
        color: $yellow;
      }
    }
  }

  .icons div {
    @include iconsBox();
    margin-left: 0.3rem;
  }
}
