header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: $box-shadow;
  padding: 1.5rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo {
    @include titleText(2.5rem);

    span {
      color: $yellow;
    }
  }

  .navbar {
    a {
      @include titleText(2rem);
      margin: 0 1rem;

      &:hover {
        color: $yellow;
      }
    }
  }

  .icons div {
    @include iconsBox();
    margin-left: 0.3rem;
  }

  .search-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
    background: $white;
    box-shadow: $box-shadow;
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn 0.2s linear;
   
    &.active {
      display: flex;
    }

    input {
      width: 100%;
      padding: 1.2rem 1.4rem;
      background: $light-bg;
      font-size: 1.6rem;
      color: $light-color;
    }

    label {
      font-size: 2.5rem;
      color: $black;
      cursor: pointer;
      margin: 0 1rem;

      &:hover {
        color: $yellow;
      }
    }
  }
}
