@media (max-width: 450px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $white;
      border-top: $border;
      border-bottom: $border;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition-duration: 0.2s;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      a {
        display: block;
        margin: 2rem;
      }
    }

    .icons {
      #menu-btn,
      #search-btn,
      #login-btn {
        display: inline-block;
      }
    }

    .search-form {
      width: 95%;
    }
  }
}
