@media (min-width: 769px) and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .grid-logo {
      grid-column: 1;
      grid-row: 1;
    }
    .grid-navbar {
      grid-column: 1;
      grid-row: 2;

      :nth-child(1) {
        margin-left: 0;
      }
    }

    .grid-icons {
      grid-column: 2;
      grid-row: 2;
      text-align: right;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 5%;
  }

  header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $white;
      border-top: $border;
      border-bottom: $border;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition-duration: 0.2s;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      a {
        display: block;
        margin: 2rem;
      }
    }

    .icons {
      #menu-btn,
      #search-btn,
      #login-btn {
        display: inline-block;
      }
    }

    .search-form {
      width: 95%;
    }
  }

  main {
    .home {
      .home-slider {
        .slide {
          justify-content: center;

          .content {
            text-align: center;
            h3 {
              font-size: 3rem;
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          top: initial;
          bottom: 0;
        }
      }
    }
    .about {
      .content {
        text-align: center;
      }

      .box-container {
        @include grid(26rem);
      }
    }

    .pricing {
      .box-container {
        @include grid(24rem);
      }
    }
  }
}

@media (max-width: 640px) {
  main {
    .home {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 3rem 2rem;
  }

  header {
    flex-direction: column;

    .logo {
      margin-bottom: 1rem;
    }
  }

  .contact-info {
    right: -100%;
    width: 100%;
  }
  main {
    .pricing {
      .box-container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
      }
    }
    .footer {
      display: inline;
    }
  }
}
