@media (min-width: 1024px) {
  header {
    .icons {
      #menu-btn {
        display: none;
      }

      #info-btn,
      #search-btn,
      #login-btn {
        display: inline-block;
      }
    }
  }

  .home {
    .home-slider {
      .slide {
        .content {
          padding: 0 0 0 10%;
        }
      }
    }
  }
}

