.reviews {
  .slide {
    p {
      @include graphText(1.5rem);
      padding: 1.5rem;
      background: $light-bg;
      position: relative;
      margin-bottom: 3rem;

      &::before {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        background: $light-bg;
        transform: rotate(45deg);
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      img {
        height: 7rem;
        width: 7rem;
      }
      .info {
        h3 {
          @include titleText(2rem);
        }
        .stars {
          padding-top: 0.5rem;

          i {
            font-size: 1.4rem;
            color: $yellow;
          }
        }
      }
    }
  }
}
