@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
  transform: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #f5bf23;
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  transition-duration: 0.5s;
}
.btn:hover {
  background: #f5bf23;
  color: #111;
}

section {
  padding: 5rem 10%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #fff;
}
header .logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #111;
}
header .logo span {
  color: #f5bf23;
}
header .navbar a {
  font-size: 2rem;
  text-transform: capitalize;
  color: #111;
  margin: 0 1rem;
}
header .navbar a:hover {
  color: #f5bf23;
}
header .icons div {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #111;
  background: #eee;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.2s;
  margin-left: 0.3rem;
}
header .icons div:hover {
  background: #111;
  color: #fff;
}
header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
header .search-form.active {
  display: flex;
}
header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #eee;
  font-size: 1.6rem;
  color: #666;
}
header .search-form label {
  font-size: 2.5rem;
  color: #111;
  cursor: pointer;
  margin: 0 1rem;
}
header .search-form label:hover {
  color: #f5bf23;
}
header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
  display: none;
}
header .login-form.active {
  display: inline-block;
}
header .login-form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #111;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #eee;
  font-size: 1.6rem;
  color: #666;
  margin: 0.7rem 0;
}
header .login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
header .login-form .flex label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}
header .login-form .flex a {
  font-size: 1.5rem;
  color: #666;
  margin-left: auto;
}
header .login-form .flex a:hover {
  color: #f5bf23;
  text-decoration: underline;
}
header .login-form .btn {
  width: 100%;
}
header .login-form p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666;
  padding-top: 1rem;
}
header .login-form p a {
  color: #f5bf23;
}
header .login-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: -35rem;
  width: 35rem;
  background: #fff;
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  transition-duration: 0.2s;
}
.contact-info.active {
  right: 0rem;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: #111;
  transition-duration: 0.1s;
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #111;
  background: #eee;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.2s;
  margin-bottom: 0.5rem;
}
.contact-info .info i:hover {
  background: #111;
  color: #fff;
}
.contact-info .info h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #111;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666;
}
.contact-info .share {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.contact-info .share a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #111;
  background: #eee;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.2s;
  margin: 0 0.3rem;
}
.contact-info .share a:hover {
  background: #111;
  color: #fff;
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #fff, transparent);
}
.home .slide .content {
  width: 90rem;
  padding: 0 0 0 5%;
  position: relative;
}
.home .slide .content h3 {
  font-size: 6rem;
  text-transform: capitalize;
  color: #111;
  text-transform: uppercase;
}
.home .slide .content p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #666;
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  header .icons #menu-btn {
    display: none;
  }
  header .icons #info-btn,
header .icons #search-btn,
header .icons #login-btn {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  section {
    padding: 3rem 5%;
  }

  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition-duration: 0.2s;
  }
  header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    margin: 2rem;
  }
  header .icons #menu-btn,
header .icons #search-btn,
header .icons #login-btn {
    display: inline-block;
  }
  header .search-form {
    width: 95%;
  }
}
@media (max-width: 640px) {
  .home .slide {
    min-height: 28rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #111;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 3rem 2rem;
  }

  header {
    flex-direction: column;
  }
  header .logo {
    margin-bottom: 1rem;
  }

  .contact-info {
    right: -100%;
    width: 100%;
  }

  .home .slide .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #111;
  }
}/*# sourceMappingURL=main.css.map */